div#game{
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 90%;
    height: 100%;
}

div#game-sidebar{
    background: #CCFFFF;
    padding: 10px;
    width: 30%;
}
div#game-holder{
    background: #FFCCCC;
    padding: 10px;
    width: 70%;
    height: 100%;
}
div#game-holder div#game-show{
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div#game-show img{
    height: 100px;
    width: auto;
}
div#game-holder div#game-chat{
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 100%;
}
div#game-chat div#game-chat-messages{
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    max-width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    word-wrap: break-word;
}
div#game-chat-messages .correct-answer{
    color: rgb(24, 172, 24);
}
div#game-chat div#game-chat-writer{
    padding: 10px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
div#game-chat-writer input{
    width: 90%;
    padding: 8px;
    border-radius: 3px;
    background: #FFCCCC;
}